.zerogrid{ width: 960px; position: relative; margin: 0 auto; padding: 0px;}
.zerogrid:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.zerogrid .row{}
.zerogrid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.zerogrid .row:after{clear: both; }
.zerogrid .row{zoom: 1;}

.zerogrid .wrap-col{margin:10px;}
.zerogrid .col-full{width:100%;}
.zerogrid .col-1{width:33.33%;}
.zerogrid .col-2{width:66.66%;}
.zerogrid .col-3{width: 35.00%;}
.zerogrid .col-4{width: 30.00%;}
.zerogrid .col-5{width: 40.00%;}
.zerogrid .col-6{width: 65.00%;}
.zerogrid .col-1, .zerogrid .col-2, .zerogrid .col-3, .zerogrid .col-4, .zerogrid .col-5, .zerogrid .col-6{float:left; display: inline-block;}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
	.zerogrid{width:800px;}
}

@media only screen and (max-width: 900px) {
	.zerogrid, .zerogrid .col-1, .zerogrid .col-2{width:100%;}
}